*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif      ;
}

.container{
    width: 100%; 
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(images/13513679_47.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.count-card{
    width: 350px;
    height: 200px;
    background-color: rgba(255, 255, 255, .4);
    border: none;
    border-radius: 30px;
    position: absolute;
    left: 39%;
    top: 10%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.count-card h3{
    font-weight: 600;
    font-size: 28px;
    padding: 20px 40px 10px 40px ;
    color: white;
}

.count-down{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 30px 40px 30px;
}

.count-down .box{
    width: 30%;
    margin-left: 5px;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.product-card{
    width: 450px;
    height: 200px;
    background-color: rgba(255, 255, 255, .8);
    border: none;
    border-radius: 30px;
    position: absolute;
    left: 34.33%;
    top: 54%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.product{
    display: flex;
    justify-content: space-between;
}
.content{
    width: 70%;
    padding: 8px 30px 10px 10px;
}
.text-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2px 0px;
}
.text-content h4{
    font-size: 14px;
    font-weight: 500;
}
.text-content p{
    text-align: end;
    font-size: 12px;
    font-weight: 300;
}
.product .box{
    position: relative;
    width: 170px;
    height: 195px;
    padding: 10px;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.product img{
    width: 180px;
    padding: 30px 40px 10px 0px;
}

.product .box span{
    position: absolute;
    background-color: black;
    color: white;
    width: 70px;
    height: 7   0px;
    border-radius: 0 0 0 100%;
    top: 0px;
    right: 0;
    font-size: 14px;
    padding: 10px 30px 20px ;
}
.product-btn{
    padding: 10px 0px 0px 150px;
}

.product-btn a{
    text-decoration: none;
    padding: 5px 10px ;
    background-color: black;
    color: white;
    border-radius: 30px;
}